<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
</head>
<body>
<h1 th:text="${user.displayName}"></h1>
<input type="button" value="Create Mapping" onclick="openURL()">
<h1 th:text="${user.country}"></h1>
<h1 th:text="${user.email}"></h1>
<img th:src="${user.images[0].url}" alt="qqqq">
<ul th:each="item : ${map}">
    <li>
        <a th:href="@{'/playlist/'+${item.second}+'/'+${item.third}}" th:text="${item.first}"></a>
    </li>
</ul>
</div>
</body>
<script type="text/javascript">
    function openURL() {
        window.location = "/playlist_mapping"
    }
</script>
</html>